- *Method chaining* (encadeamento de métodos)
	- `.assign()`
	- `.pipe()`
- __`for` vs *List comprehension*__
- Usando `.apply()`
- `.apply(axis = 0)` 
- Barra de progresso usando `tqdm`
- Pandas Profiling para exploração dos dados e para garantir a qualidade dos dados
- Mostrar o dataframe usando o `style`
- Copiar e colar no Excel `.to_clipboard()`
- Funções de janela móvel (*window functions*)
- Fechamento 2o projeto

In [3]:
import pandas as pd
import numpy as np

# `for` vs List comprehension

In [4]:
df_aux = pd.DataFrame({'A': np.arange(10, 101, 10), 
                       'B': np.arange(1, 11, 1)})

In [5]:
df_aux['A'] + df_aux['B']

0     11
1     22
2     33
3     44
4     55
5     66
6     77
7     88
8     99
9    110
dtype: int32

In [6]:
df_aux

     A   B
0   10   1
1   20   2
2   30   3
3   40   4
4   50   5
5   60   6
6   70   7
7   80   8
8   90   9
9  100  10

# List comprehension

## Usando `for`

In [7]:
for a in df_aux['A']:
    print(a)

10
20
30
40
50
60
70
80
90
100

## Usando *list comprehension*
```python
[expr for item in lista]
```

In [10]:
[print(a) for a in df_aux['A']]

10
20
30
40
50
60
70
80
90
100

[None, None, None, None, None, None, None, None, None, None]

In [11]:
list(zip(df_aux['A'],df_aux['B']))

[(10, 1),
 (20, 2),
 (30, 3),
 (40, 4),
 (50, 5),
 (60, 6),
 (70, 7),
 (80, 8),
 (90, 9),
 (100, 10)]

## Usando `for` e `zip`

In [12]:
for a,b in zip(df_aux['A'],df_aux['B']):
    print(a,b)

10 1
20 2
30 3
40 4
50 5
60 6
70 7
80 8
90 9
100 10

## Usando *list comprehension* e `zip`
```python
[expr for item in lista]
```

In [13]:
[print(a,b) for a,b in zip(df_aux['A'],df_aux['B'])]

10 1
20 2
30 3
40 4
50 5
60 6
70 7
80 8
90 9
100 10

[None, None, None, None, None, None, None, None, None, None]

## Usando `for` e `zip` e `if`

In [14]:
for a,b in zip(df_aux['A'],df_aux['B']):
    if b % 2 == 0:
        print(a+b)

22
44
66
88
110

## Usando *list comprehension* e `zip` e `if`
```python
[expr for item in lista if cond]
```

In [25]:
[print(a + b) for a,b in zip(df_aux['A'],df_aux['B']) if b % 2 == 0]

22
44
66
88
110

[None, None, None, None, None]

## Usando `for` e `zip` e `if-else`

In [16]:
for a,b in zip(df_aux['A'],df_aux['B']):
    if b % 2 == 0:
        print(a+b)
    else:
        print(0)

0
22
0
44
0
66
0
88
0
110

## Usando *list comprehension* e `zip` e `if-else`
```python
[expr1 if cond else expr2 for item in lista ]
```

In [27]:
[a + b if b % 2 == 0 else 0 for a,b in zip(df_aux['A'],df_aux['B'])]

[0, 22, 0, 44, 0, 66, 0, 88, 0, 110]

In [30]:
df_aux['soma'] = [a + b if b % 2 == 0 else 0 for a,b in zip(df_aux['A'],df_aux['B'])]

In [32]:
df_aux

     A   B  soma
0   10   1     0
1   20   2    22
2   30   3     0
3   40   4    44
4   50   5     0
5   60   6    66
6   70   7     0
7   80   8    88
8   90   9     0
9  100  10   110

In [33]:
df_aux.drop('soma', axis=1, inplace=True)

In [34]:
df_aux

     A   B
0   10   1
1   20   2
2   30   3
3   40   4
4   50   5
5   60   6
6   70   7
7   80   8
8   90   9
9  100  10