- *Method chaining* (encadeamento de métodos)
	- `.assign()`
	- `.pipe()`
- `for` vs *List comprehension*
- Usando `.apply()`
- `.apply(axis = 0)`
- __Barra de progresso usando `tqdm`__ 
- Pandas Profiling para exploração dos dados e para garantir a qualidade dos dados
- Mostrar o dataframe usando o `style`
- Copiar e colar no Excel `.to_clipboard()`
- Funções de janela móvel (*window functions*)
- Fechamento 2o projeto

In [1]:
import pandas as pd

## Barra de progresso usando tqdm

In [2]:
resultados = pd.read_html("https://www.basketball-reference.com/leagues/NBA_2021_games-january.html")[0]

colunas = {
    'Date': 'data',
    'Start (ET)': 'horario',
    'Visitor/Neutral': 'time_visitante',
    'PTS': 'pts_visit',
    'Home/Neutral': 'time_casa',
    'PTS.1': 'pts_casa',
    'Unnamed: 6': 'a',
    'Unnamed: 7': 'b',
    'Attend.': 'publico',
    'Notes': 'anot'
}
resultados = resultados.rename(columns=colunas)

resultados['data_1'] = resultados['data']
resultados['data_2'] = resultados['data']
resultados['data_3'] = resultados['data']
resultados['data_4'] = resultados['data']
resultados['data_5'] = resultados['data']
resultados['data_6'] = resultados['data']

df_datas = resultados[['data','data_1','data_2','data_3','data_4','data_5','data_6']]

In [9]:
from tqdm import tqdm
tqdm.pandas()

df_datas_maior = pd.concat([df_datas]*100, ignore_index=True)

df_datas_maior.progress_apply(lambda x: pd.to_datetime(x), axis=0)

  0%|          | 0/7 [00:00<?, ?it/s]

100%|██████████| 7/7 [00:00<00:00, 239.42it/s]

,data,data_1,data_2,data_3,data_4,data_5,data_6
0,2021-01-01,2021-01-01,2021-01-01,2021-01-01,2021-01-01,2021-01-01,2021-01-01
1,2021-01-01,2021-01-01,2021-01-01,2021-01-01,2021-01-01,2021-01-01,2021-01-01
2,2021-01-01,2021-01-01,2021-01-01,2021-01-01,2021-01-01,2021-01-01,2021-01-01
3,2021-01-01,2021-01-01,2021-01-01,2021-01-01,2021-01-01,2021-01-01,2021-01-01
4,2021-01-01,2021-01-01,2021-01-01,2021-01-01,2021-01-01,2021-01-01,2021-01-01
...,...,...,...,...,...,...,...
22195,2021-01-31,2021-01-31,2021-01-31,2021-01-31,2021-01-31,2021-01-31,2021-01-31
22196,2021-01-31,2021-01-31,2021-01-31,2021-01-31,2021-01-31,2021-01-31,2021-01-31
22197,2021-01-31,2021-01-31,2021-01-31,2021-01-31,2021-01-31,2021-01-31,2021-01-31
22198,2021-01-31,2021-01-31,2021-01-31,2021-01-31,2021-01-31,2021-01-31,2021-01-31
22199,2021-01-31,2021-01-31,2021-01-31,2021-01-31,2021-01-31,2021-01-31,2021-01-31