- *Method chaining* (encadeamento de métodos)
	- `.assign()`
	- `.pipe()`
- `for` vs *List comprehension*
- Usando `.apply()`
- __`.apply(axis = 0)`__ 
- Barra de progresso usando `tqdm`
- Pandas Profiling para exploração dos dados e para garantir a qualidade dos dados
- Mostrar o dataframe usando o `style`
- Copiar e colar no Excel `.to_clipboard()`
- Funções de janela móvel (*window functions*)
- Fechamento 2o projeto

In [1]:
import pandas as pd

# `.apply(axis = 0)`

In [2]:
resultados = pd.read_html("https://www.basketball-reference.com/leagues/NBA_2021_games-january.html")[0]

colunas = {
    'Date': 'data',
    'Start (ET)': 'horario',
    'Visitor/Neutral': 'time_visitante',
    'PTS': 'pts_visit',
    'Home/Neutral': 'time_casa',
    'PTS.1': 'pts_casa',
    'Unnamed: 6': 'a',
    'Unnamed: 7': 'b',
    'Attend.': 'publico',
    'Notes': 'anot'
}
resultados = resultados.rename(columns=colunas)

resultados['data_1'] = resultados['data']
resultados['data_2'] = resultados['data']
resultados['data_3'] = resultados['data']
resultados['data_4'] = resultados['data']
resultados['data_5'] = resultados['data']
resultados['data_6'] = resultados['data']

df_datas = resultados[['data','data_1','data_2','data_3','data_4','data_5','data_6']]

In [3]:
df_datas

,data,data_1,data_2,data_3,data_4,data_5,data_6
0,"Fri, Jan 1, 2021","Fri, Jan 1, 2021","Fri, Jan 1, 2021","Fri, Jan 1, 2021","Fri, Jan 1, 2021","Fri, Jan 1, 2021","Fri, Jan 1, 2021"
1,"Fri, Jan 1, 2021","Fri, Jan 1, 2021","Fri, Jan 1, 2021","Fri, Jan 1, 2021","Fri, Jan 1, 2021","Fri, Jan 1, 2021","Fri, Jan 1, 2021"
2,"Fri, Jan 1, 2021","Fri, Jan 1, 2021","Fri, Jan 1, 2021","Fri, Jan 1, 2021","Fri, Jan 1, 2021","Fri, Jan 1, 2021","Fri, Jan 1, 2021"
3,"Fri, Jan 1, 2021","Fri, Jan 1, 2021","Fri, Jan 1, 2021","Fri, Jan 1, 2021","Fri, Jan 1, 2021","Fri, Jan 1, 2021","Fri, Jan 1, 2021"
4,"Fri, Jan 1, 2021","Fri, Jan 1, 2021","Fri, Jan 1, 2021","Fri, Jan 1, 2021","Fri, Jan 1, 2021","Fri, Jan 1, 2021","Fri, Jan 1, 2021"
...,...,...,...,...,...,...,...
217,"Sun, Jan 31, 2021","Sun, Jan 31, 2021","Sun, Jan 31, 2021","Sun, Jan 31, 2021","Sun, Jan 31, 2021","Sun, Jan 31, 2021","Sun, Jan 31, 2021"
218,"Sun, Jan 31, 2021","Sun, Jan 31, 2021","Sun, Jan 31, 2021","Sun, Jan 31, 2021","Sun, Jan 31, 2021","Sun, Jan 31, 2021","Sun, Jan 31, 2021"
219,"Sun, Jan 31, 2021","Sun, Jan 31, 2021","Sun, Jan 31, 2021","Sun, Jan 31, 2021","Sun, Jan 31, 2021","Sun, Jan 31, 2021","Sun, Jan 31, 2021"
220,"Sun, Jan 31, 2021","Sun, Jan 31, 2021","Sun, Jan 31, 2021","Sun, Jan 31, 2021","Sun, Jan 31, 2021","Sun, Jan 31, 2021","Sun, Jan 31, 2021"
221,"Sun, Jan 31, 2021","Sun, Jan 31, 2021","Sun, Jan 31, 2021","Sun, Jan 31, 2021","Sun, Jan 31, 2021","Sun, Jan 31, 2021","Sun, Jan 31, 2021"

In [4]:
df_datas.dtypes

data      object
data_1    object
data_2    object
data_3    object
data_4    object
data_5    object
data_6    object
dtype: object

In [5]:
df_datas = df_datas.reset_index(drop=True)
for col in df_datas.columns:
    df_datas[col] = pd.to_datetime(df_datas[col])

In [6]:
df_datas

,data,data_1,data_2,data_3,data_4,data_5,data_6
0,2021-01-01,2021-01-01,2021-01-01,2021-01-01,2021-01-01,2021-01-01,2021-01-01
1,2021-01-01,2021-01-01,2021-01-01,2021-01-01,2021-01-01,2021-01-01,2021-01-01
2,2021-01-01,2021-01-01,2021-01-01,2021-01-01,2021-01-01,2021-01-01,2021-01-01
3,2021-01-01,2021-01-01,2021-01-01,2021-01-01,2021-01-01,2021-01-01,2021-01-01
4,2021-01-01,2021-01-01,2021-01-01,2021-01-01,2021-01-01,2021-01-01,2021-01-01
...,...,...,...,...,...,...,...
217,2021-01-31,2021-01-31,2021-01-31,2021-01-31,2021-01-31,2021-01-31,2021-01-31
218,2021-01-31,2021-01-31,2021-01-31,2021-01-31,2021-01-31,2021-01-31,2021-01-31
219,2021-01-31,2021-01-31,2021-01-31,2021-01-31,2021-01-31,2021-01-31,2021-01-31
220,2021-01-31,2021-01-31,2021-01-31,2021-01-31,2021-01-31,2021-01-31,2021-01-31
221,2021-01-31,2021-01-31,2021-01-31,2021-01-31,2021-01-31,2021-01-31,2021-01-31

In [7]:
df_datas.dtypes

data      datetime64[ns]
data_1    datetime64[ns]
data_2    datetime64[ns]
data_3    datetime64[ns]
data_4    datetime64[ns]
data_5    datetime64[ns]
data_6    datetime64[ns]
dtype: object

In [8]:
df_datas = resultados[['data','data_1','data_2','data_3','data_4','data_5','data_6']]

In [9]:
df_datas.dtypes

data      object
data_1    object
data_2    object
data_3    object
data_4    object
data_5    object
data_6    object
dtype: object

In [10]:
df_datas = (df_datas.assign(data = lambda x: pd.to_datetime(x.data))
    .assign(data_1 = lambda x: pd.to_datetime(x.data_1))
    .assign(data_2 = lambda x: pd.to_datetime(x.data_2))
    .assign(data_3 = lambda x: pd.to_datetime(x.data_3))
    .assign(data_4 = lambda x: pd.to_datetime(x.data_4))
    .assign(data_5 = lambda x: pd.to_datetime(x.data_5))
    .assign(data_6 = lambda x: pd.to_datetime(x.data_6)))

In [11]:
df_datas.dtypes

data      datetime64[ns]
data_1    datetime64[ns]
data_2    datetime64[ns]
data_3    datetime64[ns]
data_4    datetime64[ns]
data_5    datetime64[ns]
data_6    datetime64[ns]
dtype: object

In [12]:
df_datas = resultados[['data','data_1','data_2','data_3','data_4','data_5','data_6']]

In [13]:
df_datas.dtypes

data      object
data_1    object
data_2    object
data_3    object
data_4    object
data_5    object
data_6    object
dtype: object

In [14]:
df_datas.apply(lambda x: pd.to_datetime(x), axis=0)

,data,data_1,data_2,data_3,data_4,data_5,data_6
0,2021-01-01,2021-01-01,2021-01-01,2021-01-01,2021-01-01,2021-01-01,2021-01-01
1,2021-01-01,2021-01-01,2021-01-01,2021-01-01,2021-01-01,2021-01-01,2021-01-01
2,2021-01-01,2021-01-01,2021-01-01,2021-01-01,2021-01-01,2021-01-01,2021-01-01
3,2021-01-01,2021-01-01,2021-01-01,2021-01-01,2021-01-01,2021-01-01,2021-01-01
4,2021-01-01,2021-01-01,2021-01-01,2021-01-01,2021-01-01,2021-01-01,2021-01-01
...,...,...,...,...,...,...,...
217,2021-01-31,2021-01-31,2021-01-31,2021-01-31,2021-01-31,2021-01-31,2021-01-31
218,2021-01-31,2021-01-31,2021-01-31,2021-01-31,2021-01-31,2021-01-31,2021-01-31
219,2021-01-31,2021-01-31,2021-01-31,2021-01-31,2021-01-31,2021-01-31,2021-01-31
220,2021-01-31,2021-01-31,2021-01-31,2021-01-31,2021-01-31,2021-01-31,2021-01-31
221,2021-01-31,2021-01-31,2021-01-31,2021-01-31,2021-01-31,2021-01-31,2021-01-31

In [15]:
%timeit df_datas.apply(lambda x: pd.to_datetime(x), axis=1)
%timeit df_datas.apply(lambda x: pd.to_datetime(x), axis=0)

190 ms ± 21.3 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)
11.2 ms ± 1.09 ms per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [19]:
190  / 11.2

16.964285714285715

In [17]:
df_datas.head(2)

,data,data_1,data_2,data_3,data_4,data_5,data_6
0,"Fri, Jan 1, 2021","Fri, Jan 1, 2021","Fri, Jan 1, 2021","Fri, Jan 1, 2021","Fri, Jan 1, 2021","Fri, Jan 1, 2021","Fri, Jan 1, 2021"
1,"Fri, Jan 1, 2021","Fri, Jan 1, 2021","Fri, Jan 1, 2021","Fri, Jan 1, 2021","Fri, Jan 1, 2021","Fri, Jan 1, 2021","Fri, Jan 1, 2021"

In [18]:
%timeit df_datas.head(2).apply(lambda x: pd.to_datetime(x), axis=1)
%timeit df_datas.head(2).apply(lambda x: pd.to_datetime(x), axis=0)

2.34 ms ± 207 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)
5.55 ms ± 238 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)