- *Method chaining* (encadeamento de métodos)
	- `.assign()`
	- `.pipe()`
- `for` vs *List comprehension*
- Usando `.apply()`
- `.apply(axis = 0)`
- Barra de progresso usando `tqdm` 
- Pandas Profiling para exploração dos dados e para garantir a qualidade dos dados
- __Mostrar o dataframe usando o `style`__
- Copiar e colar no Excel `.to_clipboard()`
- Funções de janela móvel (*window functions*)
- Fechamento 2o projeto

# Mostrar o dataframe usando o `style`

In [15]:
# df.head()

In [16]:
# rf.feature_importances_

In [17]:
import statsmodels.api as sm
import pandas as pd
 
# loading the training dataset
df = pd.read_csv('./input/dados.csv')

cols = [
    'qtd_filhos', 'idade', 'tempo_emprego', 'qt_pessoas_residencia',
    'possui_email'
]
# defining the dependent and independent variables
Xtrain = df[cols]
ytrain = df[['mau']]
  
# building the model and fitting the data
log_reg = sm.Logit(ytrain, Xtrain).fit()

Optimization terminated successfully.
         Current function value: 0.112400
         Iterations 8

In [18]:
log_reg.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                           Logit Regression Results
==============================================================================
Dep. Variable:                    mau   No. Observations:                16650
Model:                          Logit   Df Residuals:                    16645
Method:                           MLE   Df Model:                            4
Date:                Fri, 21 Jul 2023   Pseudo R-squ.:                -0.01189
Time:                        20:19:12   Log-Likelihood:                -1871.5
converged:                       True   LL-Null:                       -1849.5
Covariance Type:            nonrobust   LLR p-value:                     1.000
=========================================================================================
                            coef    std err          z      P>|z|      [0.025      0.975]
-----------------------------------------------------------------------------------------
qtd_filhos                0.8266      0.131      6.290      0.000       0.569       1.084
idade                    -0.0530      0.004    -14.598      0.000      -0.060      -0.046
tempo_emprego            -0.0010      0.000     -5.846      0.000      -0.001      -0.001
qt_pessoas_residencia    -0.8893      0.087    -10.271      0.000      -1.059      -0.720
possui_email             -0.3263      0.192     -1.696      0.090      -0.703       0.051
=========================================================================================
"""

In [25]:
log_reg.params.to_frame()

                              0
qtd_filhos             0.826553
idade                 -0.052973
tempo_emprego         -0.000953
qt_pessoas_residencia -0.889271
possui_email          -0.326308

In [20]:
(log_reg.params.to_frame()
    .reset_index()
    .rename(columns={'index':'Variavel', 0:'Coef'})
    .round(decimals=2)
    .sort_values('Coef', ascending=False)
    .style.bar(color=['grey', 'darkgreen'], align='zero')
)

In [21]:
(log_reg.params.to_frame()
    .reset_index()
    .rename(columns={'index':'variavel',0:'coef'})
    .round(2) 
    .sort_values('coef', ascending=False) 
    .style.bar(color=['grey', 'darkgreen'], align='zero'))

In [22]:
import pandas as pd
from sklearn.ensemble import RandomForestClassifier

df = pd.read_csv('./input/dados.csv')

rf = RandomForestClassifier()
cols = [
    'qtd_filhos', 'idade', 'tempo_emprego', 'qt_pessoas_residencia',
    'possui_email', 'possui_fone', 'possui_fone_comercial'
]
rf.fit(df[cols], df['mau'])

print('Feature importances: ',rf.feature_importances_)
print('Variáveis: ',cols)

Feature importances:  [0.02365222 0.54820924 0.37333807 0.02514652 0.00706579 0.01139991
 0.01118825]
Variáveis:  ['qtd_filhos', 'idade', 'tempo_emprego', 'qt_pessoas_residencia', 'possui_email', 'possui_fone', 'possui_fone_comercial']

In [23]:
(pd.DataFrame({
            'variavel': cols,
            'featimp': rf.feature_importances_})
            .round(2)
            .sort_values('featimp', ascending=False)
            .style.bar(color=['grey', 'darkgreen'], align='zero')
)

In [24]:
(pd.DataFrame({
            'variavel': cols,
            'featimp': rf.feature_importances_}) 
    .round(decimals=2) 
    .sort_values('featimp', ascending=False) 
    .style.bar(color=['grey', 'darkgreen'], align='zero')
)