# Índice <a name="Contents"></a>
1. [Importando bibliotecas](#import)
2. [Construindo um dataframe](#read)
3. [Renomeando colunas](#colunas)
4. [Renomeando índices](#indices)

# 1. Importando bibliotecas <a name="import"></a>

<div style="text-align: right"
     
[Voltar ao índice](#Contents)

In [1]:
import pandas as pd
import numpy  as np

# 2. Construindo um dataframe <a name="read"></a>
<div style="text-align: right"
     
[Voltar ao índice](#Contents)

In [2]:
df = pd.DataFrame(
    np.random.randn(9, 4)*100,
    index=["A", "B", "C", "D", "E", "F", "G", "H", "I"],
    columns=["coluna1", "coluna2", "coluna3","coluna4"],
)
df

      coluna1     coluna2     coluna3     coluna4
A   -5.246791  -59.818862   72.089872  -97.971357
B -159.799586   78.488307 -102.455616 -189.027206
C  -41.234567 -123.425139  -55.626813    1.849032
D  130.646404    5.669037  -24.562078  -42.961498
E  -55.402580  -85.159296   24.396384 -131.664489
F   60.318084  -78.258235  134.679513 -185.986488
G  -98.663994   64.289361   61.928901 -204.545004
H   -4.038162   51.103090   34.712628   -6.792411
I  -57.462649 -282.572348 -133.700463  274.313958

# 3. Renomeando colunas <a name="colunas"></a>
<div style="text-align: right"
     
[Voltar ao índice](#Contents)

In [3]:
df.columns

Index(['coluna1', 'coluna2', 'coluna3', 'coluna4'], dtype='object')

In [4]:
df.columns = ['segunda', 'terça', 'quarta', 'quinta']

In [5]:
df.columns

Index(['segunda', 'terça', 'quarta', 'quinta'], dtype='object')

In [6]:
df

      segunda       terça      quarta      quinta
A   -5.246791  -59.818862   72.089872  -97.971357
B -159.799586   78.488307 -102.455616 -189.027206
C  -41.234567 -123.425139  -55.626813    1.849032
D  130.646404    5.669037  -24.562078  -42.961498
E  -55.402580  -85.159296   24.396384 -131.664489
F   60.318084  -78.258235  134.679513 -185.986488
G  -98.663994   64.289361   61.928901 -204.545004
H   -4.038162   51.103090   34.712628   -6.792411
I  -57.462649 -282.572348 -133.700463  274.313958

# 4. Renomeando índices <a name="indices"></a>
<div style="text-align: right"
     
[Voltar ao índice](#Contents)

In [7]:
df['coluna5'] = ['letraA','letraB','letraC','letraD','letraE','letraF','letraG','letraH','letraI']

In [8]:
df

      segunda       terça      quarta      quinta coluna5
A   -5.246791  -59.818862   72.089872  -97.971357  letraA
B -159.799586   78.488307 -102.455616 -189.027206  letraB
C  -41.234567 -123.425139  -55.626813    1.849032  letraC
D  130.646404    5.669037  -24.562078  -42.961498  letraD
E  -55.402580  -85.159296   24.396384 -131.664489  letraE
F   60.318084  -78.258235  134.679513 -185.986488  letraF
G  -98.663994   64.289361   61.928901 -204.545004  letraG
H   -4.038162   51.103090   34.712628   -6.792411  letraH
I  -57.462649 -282.572348 -133.700463  274.313958  letraI

In [12]:
df = df.set_index('coluna5')

In [20]:
df

            segunda       terça      quarta      quinta
coluna5
letraA    -5.246791  -59.818862   72.089872  -97.971357
letraB  -159.799586   78.488307 -102.455616 -189.027206
letraC   -41.234567 -123.425139  -55.626813    1.849032
letraD   130.646404    5.669037  -24.562078  -42.961498
letraE   -55.402580  -85.159296   24.396384 -131.664489
letraF    60.318084  -78.258235  134.679513 -185.986488
letraG   -98.663994   64.289361   61.928901 -204.545004
letraH    -4.038162   51.103090   34.712628   -6.792411
letraI   -57.462649 -282.572348 -133.700463  274.313958

In [21]:
df.reset_index()

  coluna5     segunda       terça      quarta      quinta
0  letraA   -5.246791  -59.818862   72.089872  -97.971357
1  letraB -159.799586   78.488307 -102.455616 -189.027206
2  letraC  -41.234567 -123.425139  -55.626813    1.849032
3  letraD  130.646404    5.669037  -24.562078  -42.961498
4  letraE  -55.402580  -85.159296   24.396384 -131.664489
5  letraF   60.318084  -78.258235  134.679513 -185.986488
6  letraG  -98.663994   64.289361   61.928901 -204.545004
7  letraH   -4.038162   51.103090   34.712628   -6.792411
8  letraI  -57.462649 -282.572348 -133.700463  274.313958

In [28]:
df.reset_index(drop=True, inplace=True)

In [41]:
df = df.set_index([['letraA','letraB','letraC','letraD','letraE','letraF','letraG','letraH','letraI']])

In [42]:
df

           segunda       terça      quarta      quinta
letraA   -5.246791  -59.818862   72.089872  -97.971357
letraB -159.799586   78.488307 -102.455616 -189.027206
letraC  -41.234567 -123.425139  -55.626813    1.849032
letraD  130.646404    5.669037  -24.562078  -42.961498
letraE  -55.402580  -85.159296   24.396384 -131.664489
letraF   60.318084  -78.258235  134.679513 -185.986488
letraG  -98.663994   64.289361   61.928901 -204.545004
letraH   -4.038162   51.103090   34.712628   -6.792411
letraI  -57.462649 -282.572348 -133.700463  274.313958