In [1]:
import numpy  as np
import pandas as pd

# Operações com ``DataFrame``

## Criando 2 dataframes (3 x 5)

In [2]:
np.random.randint(10, size=(3, 5))

array([[2, 6, 5, 1, 4],
       [8, 3, 2, 7, 5],
       [1, 8, 1, 9, 6]])

In [3]:
df1 = pd.DataFrame(np.random.randint(10, size=(3, 5)), columns=['A','B','C','D','E'])
df1

   A  B  C  D  E
0  5  3  3  1  7
1  3  2  1  4  7
2  9  0  0  6  5

In [4]:
df2 = pd.DataFrame(np.random.randint(10, size=(3, 5)), columns=['A','B','C','D','E'])
df2

   A  B  C  D  E
0  9  3  3  0  3
1  6  7  6  9  2
2  1  2  1  9  6

## Somando 2 dataframes (3 x 5)

In [5]:
df1 + df2

    A  B  C   D   E
0  14  6  6   1  10
1   9  9  7  13   9
2  10  2  1  15  11

## Criando 1 dataframe (1 x 5)

In [6]:
df3 = pd.DataFrame(np.random.randint(10, size=(1, 5)), columns=['A','B','C','D','E'])
df3

   A  B  C  D  E
0  8  6  1  2  9

## Somando 2 dataframes (3 x 5 e 1 x 5)

In [7]:
df1 + df3

      A    B    C    D     E
0  13.0  9.0  4.0  3.0  16.0
1   NaN  NaN  NaN  NaN   NaN
2   NaN  NaN  NaN  NaN   NaN

## Zerando uma linha

In [8]:
df1

   A  B  C  D  E
0  5  3  3  1  7
1  3  2  1  4  7
2  9  0  0  6  5

In [9]:
df1.iloc[0]

A    5
B    3
C    3
D    1
E    7
Name: 0, dtype: int32

In [10]:
df1 - df1.iloc[0]

   A  B  C  D  E
0  0  0  0  0  0
1 -2 -1 -2  3  0
2  4 -3 -3  5 -2

## Operação com escalar

In [11]:
df1

   A  B  C  D  E
0  5  3  3  1  7
1  3  2  1  4  7
2  9  0  0  6  5

In [12]:
df1 * 100

     A    B    C    D    E
0  500  300  300  100  700
1  300  200  100  400  700
2  900    0    0  600  500

In [13]:
df1 * 100 + 200

      A    B    C    D    E
0   700  500  500  300  900
1   500  400  300  600  900
2  1100  200  200  800  700

## Transpondo df

In [14]:
df1

   A  B  C  D  E
0  5  3  3  1  7
1  3  2  1  4  7
2  9  0  0  6  5

In [15]:
df1.T

   0  1  2
A  5  3  9
B  3  2  0
C  3  1  0
D  1  4  6
E  7  7  5

## Calculando exponencial dos valores

In [16]:
np.exp(df1)

             A          B          C           D            E
0   148.413159  20.085537  20.085537    2.718282  1096.633158
1    20.085537   7.389056   2.718282   54.598150  1096.633158
2  8103.083928   1.000000   1.000000  403.428793   148.413159

# Registros de Vacinação COVID19 (Acre)

link: https://opendatasus.saude.gov.br/dataset/covid-19-vacinacao/resource/ef3bd0b8-b605-474b-9ae5-c97390c197a8

## Lendo CSV

In [17]:
vacAcre = pd.read_csv(
    'https://s3-sa-east-1.amazonaws.com/ckan.saude.gov.br/PNI/vacina/uf/2021-05-23/uf%3DAC/part-00000-63e5bee2-3684-4286-b709-7fe85483b04e.c000.csv',
    sep=';')
vacAcre

HTTPError: HTTP Error 403: Forbidden

In [ ]:
vacAcre.head()

## Verificando dataframe

In [ ]:
vacAcre.info()

## Copiando parte do dataframe

In [ ]:
vacAcre_copy = vacAcre[:20000].copy()
vacAcre_copy

## Qual o percentual das vacinas aplicadas foram na capital???

In [ ]:
vacAcre_copy['fl_capital'] = 0

In [ ]:
vacAcre_copy.head(2)

In [ ]:
vacAcre_copy.loc[vacAcre_copy['paciente_endereco_nmmunicipio'] == 'RIO BRANCO', 'fl_capital'] = 1

In [ ]:
vacAcre_copy.head(10)

In [ ]:
vacAcre_copy[['paciente_endereco_nmmunicipio','fl_capital']]

In [ ]:
vacAcre_copy['fl_capital'].sum()

In [ ]:
9294/20000

## Qual a idade média dos pacientes???

In [ ]:
vacAcre_copy['paciente_idade'].mean()